# Ignore class files
*.class

# Ignore log files
*.log

# Ignore IDE files
.idea/
*.iml
*.ipr
*.iws

# Ignore build output (Maven/Gradle)
target/
build/

# Ignore JAR/WAR files
*.jar
*.war
